*.log
*.sdf
*.opensdf
*.tlog
*.obj
*.sbr
*.aps
*.user
*.lastbuildstate
*.cache
*.pdb
*.pch
*.idb
*.manifest
Bins/ast_log.txt
*.bsc
*.exe
*.suo
*.ipch
Bins/Bin32/ExampleGame.dll
Bins/Bin32/VegaEngine.dll
TempFiles/
Bins/Bin32/EngineLog.html
*.exp
Bins/Bin64/EngineLog.html
Bins/EngineLog.html
Bins/Bin32/Engine.dll
Bins/Bin32/Engine.lib
Bins/Bin32/ExampleGame.lib
*.ilk
Bins/Bin32_d/Engine.dll
Bins/Bin32_d/Engine.lib
Bins/Bin32_d/ExampleGame.dll
Bins/Bin32_d/ExampleGame.lib
Development/Externals/Libs/Debug/Win32/MyGui.lib
Development/Externals/Libs/Debug/Win32/freetype250_D.lib
Development/Externals/Libs/Debug/Win32/libogg_static.lib
Development/Externals/Libs/Debug/Win32/libvorbis_static.lib
Development/Externals/Libs/Debug/Win32/libvorbisfile_static.lib
Development/Externals/Libs/Debug/x64/MyGui.lib
Development/Externals/Libs/Debug/x64/freetype250_D.lib
Development/Externals/Libs/Debug/x64/libogg_static.lib
Development/Externals/Libs/Debug/x64/libvorbis_static.lib
Development/Externals/Libs/Debug/x64/libvorbisfile_static.lib
Development/Externals/Libs/Release/Win32/MyGui.lib
Development/Externals/Libs/Release/Win32/freetype250.lib
Development/Externals/Libs/Release/Win32/libogg_static.lib
Development/Externals/Libs/Release/Win32/libvorbis_static.lib
Development/Externals/Libs/Release/Win32/libvorbisfile_static.lib
Development/Externals/Libs/Release/x64/MyGui.lib
Development/Externals/Libs/Release/x64/freetype250.lib
Development/Externals/Libs/Release/x64/libogg_static.lib
Development/Externals/Libs/Release/x64/libvorbis_static.lib
Development/Externals/Libs/Release/x64/libvorbisfile_static.lib
