*.log
*.sdf
*.opensdf
*.tlog
*.obj
*.sbr
*.aps
*.user
*.lastbuildstate
*.cache
*.pdb
*.pch
*.idb
*.manifest
Bins/ast_log.txt
*.bsc
*.exe
*.suo
*.ipch
Bins/Bin32/ExampleGame.dll
Bins/Bin32/VegaEngine.dll
TempFiles/
Bins/Bin32/EngineLog.html
*.exp
Bins/Bin64/EngineLog.html
Bins/EngineLog.html
Bins/Bin32/Engine.dll
Bins/Bin32/Engine.lib
Bins/Bin32/ExampleGame.lib
*.ilk
Bins/Bin32_d/Engine.dll
Bins/Bin32_d/Engine.lib
Bins/Bin32_d/ExampleGame.dll
Bins/Bin32_d/ExampleGame.lib
Development/Externals/Libs/Debug/Win32/MyGui.lib
Development/Externals/Libs/Debug/Win32/freetype250_D.lib
Development/Externals/Libs/Debug/Win32/libogg_static.lib
Development/Externals/Libs/Debug/Win32/libvorbis_static.lib
Development/Externals/Libs/Debug/Win32/libvorbisfile_static.lib
Development/Externals/Libs/Debug/x64/MyGui.lib
Development/Externals/Libs/Debug/x64/freetype250_D.lib
Development/Externals/Libs/Debug/x64/libogg_static.lib
Development/Externals/Libs/Debug/x64/libvorbis_static.lib
Development/Externals/Libs/Debug/x64/libvorbisfile_static.lib
Development/Externals/Libs/Release/Win32/MyGui.lib
Development/Externals/Libs/Release/Win32/freetype250.lib
Development/Externals/Libs/Release/Win32/libogg_static.lib
Development/Externals/Libs/Release/Win32/libvorbis_static.lib
Development/Externals/Libs/Release/Win32/libvorbisfile_static.lib
Development/Externals/Libs/Release/x64/MyGui.lib
Development/Externals/Libs/Release/x64/freetype250.lib
Development/Externals/Libs/Release/x64/libogg_static.lib
Development/Externals/Libs/Release/x64/libvorbis_static.lib
Development/Externals/Libs/Release/x64/libvorbisfile_static.lib
Bins/Bin32_d/Core.dll
Bins/Bin32_d/Core.lib
Bins/Bin32_d/OGLDrv.lib
Libs/Debug/Win32/Common/Common.lib
Libs/Debug/Win32/Core/Core.lib
Libs/Debug/Win32/OGLDrv/OGLDrv.lib
Bins/Bin32_d/OGLDrv.dll
Libs/Debug/x64/Common/Common.lib
Libs/Release/Win32/Common/Common.lib
Libs/Release/x64/Common/Common.lib
Bins/Bin64/Engine.dll
Bins/Bin64/Engine.lib
Bins/Bin64/ExampleGame.dll
Bins/Bin64/ExampleGame.lib
Bins/Bin64_d/Core.dll
Bins/Bin64_d/Core.lib
Bins/Bin64_d/Engine.dll
Bins/Bin64_d/Engine.lib
Bins/Bin64_d/ExampleGame.dll
Bins/Bin64_d/ExampleGame.lib
Bins/Bin64_d/OGLDrv.dll
Bins/Bin64_d/OGLDrv.lib
Libs/Release/Win32/Core/Core.lib
Libs/Release/Win32/OGLDrv/OGLDrv.lib
Libs/Release/x64/Core/Core.lib
Libs/Release/x64/OGLDrv/OGLDrv.lib
Bins/Bin32/Core.dll
Bins/Bin32/OGLDrv.dll
Bins/Bin64/Core.dll
Bins/Bin64/OGLDrv.dll
Development/Libs/Debug/Win32/Core.lib
Development/Libs/Debug/Win32/Engine.lib
Development/Libs/Debug/Win32/ExampleGame.lib
Development/Libs/Debug/Win32/OGLDrv.lib
Development/Libs/Debug/x64/Core.lib
Development/Libs/Debug/x64/Engine.lib
Development/Libs/Debug/x64/ExampleGame.lib
Development/Libs/Debug/x64/OGLDrv.lib
Development/Libs/Release/Win32/Core.lib
Development/Libs/Release/Win32/Engine.lib
Development/Libs/Release/Win32/ExampleGame.lib
Development/Libs/Release/Win32/OGLDrv.lib
Development/Libs/Release/x64/Core.lib
Development/Libs/Release/x64/Engine.lib
Development/Libs/Release/x64/ExampleGame.lib
Development/Libs/Release/x64/OGLDrv.lib
Libs/Debug/Win32/Common.lib
Libs/Debug/Win32/MyGui.lib
Libs/Debug/Win32/freetype250_D.lib
Libs/Debug/Win32/libogg_static.lib
Libs/Debug/Win32/libvorbis_static.lib
Libs/Debug/Win32/libvorbisfile_static.lib
Libs/Debug/x64/Common.lib
Libs/Debug/x64/MyGui.lib
Libs/Debug/x64/freetype250_D.lib
Libs/Debug/x64/libogg_static.lib
Libs/Debug/x64/libvorbis_static.lib
Libs/Debug/x64/libvorbisfile_static.lib
Libs/Release/Win32/Common.lib
Libs/Release/Win32/MyGui.lib
Libs/Release/Win32/freetype250.lib
Libs/Release/Win32/libogg_static.lib
Libs/Release/Win32/libvorbis_static.lib
Libs/Release/Win32/libvorbisfile_static.lib
Libs/Release/x64/Common.lib
Libs/Release/x64/MyGui.lib
Libs/Release/x64/freetype250.lib
Libs/Release/x64/libogg_static.lib
Libs/Release/x64/libvorbis_static.lib
Libs/Release/x64/libvorbisfile_static.lib
Bins/Bin32/MyGUI.dll
Bins/Bin32_d/MyGUI.dll
Bins/Bin64/MyGUI.dll
Bins/Bin64_d/MyGUI.dll
Development/Src/Editors/MeshViewer/obj/
*.metagen
Bins/Bin32/ActiproSoftware.Shared.Net20.dll
Bins/Bin32/ActiproSoftware.SyntaxEditor.Addons.DotNet.Net20.dll
Bins/Bin32/ActiproSoftware.SyntaxEditor.Net20.dll
Bins/Bin32/ActiproSoftware.WinUICore.Net20.dll
Bins/Bin32/Atf.Core.dll
Bins/Bin32/Atf.Gui.WinForms.dll
Bins/Bin32/Atf.Gui.dll
Bins/Bin32/Atf.IronPython.dll
Bins/Bin32/Atf.Perforce.dll
Bins/Bin32/Atf.SyntaxEditorControl.dll
Bins/Bin32/Bespoke.Common.Osc.dll
Bins/Bin32/Bespoke.Common.dll
Bins/Bin32/EngineCLR.dll
Bins/Bin32/IronPython.Modules.dll
Bins/Bin32/IronPython.Modules.xml
Bins/Bin32/IronPython.dll
Bins/Bin32/IronPython.xml
Bins/Bin32/MeshViewer.exe.config
Bins/Bin32/Microsoft.Dynamic.dll
Bins/Bin32/Microsoft.Dynamic.xml
Bins/Bin32/Microsoft.Scripting.dll
Bins/Bin32/Microsoft.Scripting.xml
Bins/Bin32/SharpDX.DXGI.dll
Bins/Bin32/SharpDX.Direct2D1.dll
Bins/Bin32/SharpDX.dll
Bins/Bin32/WeifenLuo.WinFormsUI.Docking.dll
Bins/Bin32/ja/Atf.Gui.WinForms.resources.dll
Bins/Bin32/libcrashreport_net.dll
Bins/Bin32/p4api.net.dll
Bins/Bin32/p4api.net.xml
Bins/Bin32/p4bridge.dll
Bins/Bin32_d/ActiproSoftware.Shared.Net20.dll
Bins/Bin32_d/ActiproSoftware.SyntaxEditor.Addons.DotNet.Net20.dll
Bins/Bin32_d/ActiproSoftware.SyntaxEditor.Net20.dll
Bins/Bin32_d/ActiproSoftware.WinUICore.Net20.dll
Bins/Bin32_d/Atf.Core.dll
Bins/Bin32_d/Atf.Gui.WinForms.dll
Bins/Bin32_d/Atf.Gui.dll
Bins/Bin32_d/Atf.IronPython.dll
Bins/Bin32_d/Atf.Perforce.dll
Bins/Bin32_d/Atf.SyntaxEditorControl.dll
Bins/Bin32_d/Bespoke.Common.Osc.dll
Bins/Bin32_d/Bespoke.Common.dll
Bins/Bin32_d/EngineCLR.dll
Bins/Bin32_d/IronPython.Modules.dll
Bins/Bin32_d/IronPython.Modules.xml
Bins/Bin32_d/IronPython.dll
Bins/Bin32_d/IronPython.xml
Bins/Bin32_d/MeshViewer.exe.config
Bins/Bin32_d/Microsoft.Dynamic.dll
Bins/Bin32_d/Microsoft.Dynamic.xml
Bins/Bin32_d/Microsoft.Scripting.dll
Bins/Bin32_d/Microsoft.Scripting.xml
Bins/Bin32_d/SharpDX.DXGI.dll
Bins/Bin32_d/SharpDX.Direct2D1.dll
Bins/Bin32_d/SharpDX.dll
Bins/Bin32_d/WeifenLuo.WinFormsUI.Docking.dll
Bins/Bin32_d/del.bat
Bins/Bin32_d/ja/Atf.Gui.WinForms.resources.dll
Bins/Bin32_d/libcrashreport_net.dll
Bins/Bin32_d/p4api.net.dll
Bins/Bin32_d/p4api.net.xml
Bins/Bin32_d/p4bridge.dll
Bins/Bin64/ActiproSoftware.Shared.Net20.dll
Bins/Bin64/ActiproSoftware.SyntaxEditor.Addons.DotNet.Net20.dll
Bins/Bin64/ActiproSoftware.SyntaxEditor.Net20.dll
Bins/Bin64/ActiproSoftware.WinUICore.Net20.dll
Bins/Bin64/Atf.Core.dll
Bins/Bin64/Atf.Gui.WinForms.dll
Bins/Bin64/Atf.Gui.dll
Bins/Bin64/Atf.IronPython.dll
Bins/Bin64/Atf.Perforce.dll
Bins/Bin64/Atf.SyntaxEditorControl.dll
Bins/Bin64/Bespoke.Common.Osc.dll
Bins/Bin64/Bespoke.Common.dll
Bins/Bin64/EngineCLR.dll
Bins/Bin64/IronPython.Modules.dll
Bins/Bin64/IronPython.Modules.xml
Bins/Bin64/IronPython.dll
Bins/Bin64/IronPython.xml
Bins/Bin64/MeshViewer.exe.config
Bins/Bin64/MeshViewer.vshost.exe.config
Bins/Bin64/Microsoft.Dynamic.dll
Bins/Bin64/Microsoft.Dynamic.xml
Bins/Bin64/Microsoft.Scripting.dll
Bins/Bin64/Microsoft.Scripting.xml
Bins/Bin64/SharpDX.DXGI.dll
Bins/Bin64/SharpDX.Direct2D1.dll
Bins/Bin64/SharpDX.dll
Bins/Bin64/WeifenLuo.WinFormsUI.Docking.dll
Bins/Bin64/del.bat
Bins/Bin64/ja/Atf.Gui.WinForms.resources.dll
Bins/Bin64/libcrashreport_net.dll
Bins/Bin64/p4api.net.dll
Bins/Bin64/p4api.net.xml
Bins/Bin64/p4bridge.dll
Bins/Bin64_d/ActiproSoftware.Shared.Net20.dll
Bins/Bin64_d/ActiproSoftware.SyntaxEditor.Addons.DotNet.Net20.dll
Bins/Bin64_d/ActiproSoftware.SyntaxEditor.Net20.dll
Bins/Bin64_d/ActiproSoftware.WinUICore.Net20.dll
Bins/Bin64_d/Atf.Core.dll
Bins/Bin64_d/Atf.Gui.WinForms.dll
Bins/Bin64_d/Atf.Gui.dll
Bins/Bin64_d/Atf.IronPython.dll
Bins/Bin64_d/Atf.Perforce.dll
Bins/Bin64_d/Atf.SyntaxEditorControl.dll
Bins/Bin64_d/Bespoke.Common.Osc.dll
Bins/Bin64_d/Bespoke.Common.dll
Bins/Bin64_d/EngineCLR.dll
Bins/Bin64_d/IronPython.Modules.dll
Bins/Bin64_d/IronPython.Modules.xml
Bins/Bin64_d/IronPython.dll
Bins/Bin64_d/IronPython.xml
Bins/Bin64_d/MeshViewer.exe.config
Bins/Bin64_d/Microsoft.Dynamic.dll
Bins/Bin64_d/Microsoft.Dynamic.xml
Bins/Bin64_d/Microsoft.Scripting.dll
Bins/Bin64_d/Microsoft.Scripting.xml
Bins/Bin64_d/SharpDX.DXGI.dll
Bins/Bin64_d/SharpDX.Direct2D1.dll
Bins/Bin64_d/SharpDX.dll
Bins/Bin64_d/WeifenLuo.WinFormsUI.Docking.dll
Bins/Bin64_d/del.bat
Bins/Bin64_d/ja/Atf.Gui.WinForms.resources.dll
Bins/Bin64_d/libcrashreport_net.dll
Bins/Bin64_d/p4api.net.dll
Bins/Bin64_d/p4api.net.xml
Bins/Bin64_d/p4bridge.dll
Development/Src/Editors/MeshViewer/bin/x86/Release/MeshViewer.vshost.exe.config
Development/Src/Editors/MeshViewer/bin/x86/Release/MeshViewer.exe.config
Bins/Bin32/MeshViewer.vshost.exe.config
Libs/Release/Win32/Platform.lib
EngineLog.html
Bins/CrashDumps/
Libs/Debug/Win32/Platform.lib
Libs/Debug/x64/Platform.lib
Libs/Release/x64/Platform.lib
Libs/Debug/Win32/Externals.lib
Libs/Debug/x64/Externals.lib
Libs/Release/Win32/Externals.lib
Libs/Release/x64/Externals.lib
CrashDumps/
Libs/Mixed/
Development/Libs/Mixed/
Bins/!production/
Bins/Bin64/Graph.dll
Bins/Bin64/GraphNodes.dll
Bins/Bin64/NGed.exe.config
Bins/Bin64/NGed.vshost.exe.config
Bins/Bin32/Graph.dll
Bins/Bin32/GraphNodes.dll
Bins/Bin32/NGEd.exe.config
Bins/Bin32/NGEd.vshost.exe.config
Bins/Bin64/NGMax.dlu
Bins/Bin64/NGMax.lib
Bins/logs/
/Development/Src/Editors/3dparty/Graph/bin/x86/Release
/Development/Src/Editors/3dparty/Graph/obj/x86/Release
/Development/Src/Editors/LogicEditor/bin/Release
/Development/Src/Editors/LogicEditor/obj/x86/Release
/Development/Src/Editors/NGEd/obj/x86/Release
Development/Src/Editors/NGEd/obj/
Development/Src/Editors/LogicEditor/obj/
Development/Src/Editors/LogicEditor/bin/
Development/Src/Editors/3dparty/Graph/obj/
Bins/Bin32_d/NGEd.exe.config
Bins/Bin32_d/NGEd.vshost.exe.config
Bins/userData/ShaderCache/
Bins/Bin32/EngineLog.html - Ярлык.lnk
Bins/Bin32_d/EngineLog.html - Ярлык.lnk
Bins/Bin32_d/userData - Ярлык.lnk
Bins/userData/
Bins/Bin32_d/Graph.dll
Bins/Bin32_d/GraphNodes.dll
Bins/Bin64_d/Graph.dll
Bins/Bin64_d/GraphNodes.dll
/Development/Src/Editors/3dparty/Graph/bin/x86/Debug/Graph.dll
