*.log
*.sdf
*.opensdf
*.tlog
*.obj
*.sbr
*.aps
*.lib
*.user
*.lastbuildstate
*.cache
*.pdb
*.pch
*.idb
*.manifest
Bins/ast_log.txt
*.bsc
*.exe
*.suo
*.ipch
Bins/Bin32/ExampleGame.dll
Bins/Bin32/VegaEngine.dll
TempFiles/
Bins/Bin32/EngineLog.html
*.exp
